.flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.flex-warp {
  flex-wrap: wrap;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-start {
  justify-content: start;
}

.justify-content-space-around {
  justify-content: space-around;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.flex-4 {
  flex: 4;
}

.flex-5 {
  flex: 5;
}

.flex-6 {
  flex: 6;
}

.flex-7 {
  flex: 7;
}

.flex-8 {
  flex: 8;
}

.flex-9 {
  flex: 9;
}

.flex-10 {
  flex: 10;
}

.flex-direction-column {
  flex-direction: column;
}

.justify-content-space-between {
  justify-content: space-between;
}

.flex-flow-row-wrap {
  flex-flow: row wrap;
}

.flex-direction {
  flex-direction: row-reverse;
}

.grid {
  display: grid;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: PingFangSC-Regular, PingFang SC;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ui-card-block {
  padding: 25px;
  background: #ffffff;
  border-radius: 19px;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.05);
}

.ui-card-block-2 {
  padding: 24px;
  background: #ffffff;
  border-radius: 0 0 19px 19px;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.05);
}

.ui-form-control-300 {
  max-width: 300px;
}

.ui-el-dialog .el-dialog {
  border-radius: 16px;
}
.ui-el-dialog .el-dialog__header {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  color: #303133;
}
.ui-el-dialog .el-dialog__headerbtn {
  font-size: 20px;
  color: #999;
}
.ui-el-dialog .el-dialog__body {
  padding-top: 15px;
}

.ui-el-button-def.el-button {
  color: #39B1C9;
  border: 1px solid #39B1C9;
  font-size: 14px;
}
.ui-el-button-def.el-button > span {
  font-family: PingFangSC-Medium, PingFang SC;
}
.ui-el-button-def.el-button:hover {
  color: #fff !important;
  border: 1px solid #39B1C9;
  background-color: #39B1C9 !important;
}

.ui-el-button-pri.el-button {
  font-weight: 600;
}
.ui-el-button-pri.el-button > span {
  font-family: PingFangSC-Semibold, PingFang SC;
}

.ui-el-form .el-form-item__label {
  padding-right: 20px;
  color: #000;
  font-size: 15px;
}
.ui-el-form .isEdit .el-form-item__label {
  font-weight: 400 !important;
  color: #CCCCCC !important;
}

.ui-el-table {
  border: none !important;
}
.ui-el-table::before {
  content: "";
  display: none;
}
.ui-el-table::after {
  content: "";
  display: none;
}
.ui-el-table .el-table__header-wrapper th {
  height: 36px;
  padding: 8px 0 !important;
  background-color: #EDEDF3 !important;
  color: #9DA6BA;
  font-size: 14px;
  font-weight: 600;
}
.ui-el-table .el-table__body-wrapper {
  overflow-y: auto;
}
.ui-el-table .el-table__body-wrapper tr:hover {
  background-color: #FAFAFD;
}

.ui-el-menu.el-menu.el-menu--horizontal {
  border-bottom: none;
}
.ui-el-menu.el-menu--horizontal > .el-menu-item {
  font-size: 16px;
  color: #666666;
  font-weight: 600;
}
.ui-el-menu.el-menu--horizontal > .el-menu-item:hover {
  color: #39B1C9 !important;
}
.ui-el-menu.el-menu--horizontal > .el-menu-item:focus {
  color: #39B1C9 !important;
}
.ui-el-menu.el-menu--horizontal > .el-menu-item.is-active {
  border-bottom: transparent;
  color: #39B1C9;
}
.ui-el-menu.el-menu--horizontal > .el-menu-item.is-active::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: block;
  width: 20px;
  height: 4px;
  background: #49B7CD;
  border-radius: 4px;
}

.ui-el-tree .el-tree-node__expand-icon {
  color: #39B1C9;
  font-size: 20px;
}
.ui-el-tree .el-tree-node__content {
  height: 35px;
  line-height: 35px;
}
.ui-el-tree .el-tree-node__label {
  font-size: 14px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #333333;
  line-height: 20px;
}

.ui-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.ui-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #c8c8c8;
  cursor: pointer;
}
.ui-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #bebebe;
}
.ui-scrollbar::-webkit-scrollbar-thumb:active {
  background: #b0b0b0;
}
.ui-scrollbar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  background: #f3f3f3;
}

.ui-breadcrumb {
  display: flex;
  align-items: center;
}
.ui-breadcrumb :last-child :first-child {
  font-size: 18px !important;
  font-family: PingFangSC-Semibold, PingFang SC !important;
  font-weight: 600 !important;
  color: #333333 !important;
}
.ui-breadcrumb.el-breadcrumb .el-breadcrumb__item .el-breadcrumb__inner {
  font-size: 14px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #999999;
}

.ui-breadcrumb-have-father::before {
  height: 13px;
  width: 7px;
  background-size: 100%;
  margin-right: 10px;
}

.ui-el-popover .emoji {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}
.ui-el-popover .emoji:hover {
  background-color: #f0f0f0;
}
.ui-el-popover ::v-deep .el-popover {
  display: inline-block;
  width: 35px;
  height: 18px;
  padding: 10px;
  font-size: 30px;
}
.ui-el-popover ::v-deep .el-popover .el-popover:hover {
  background-color: #f0f0f0;
}

.scroll-wrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  padding: 0 15px;
}

.ui-el-date-editor.el-date-editor .el-range-separator {
  width: 8%;
}

.ui-label .el-form-item__label {
  line-height: 14px;
}

.ui-el-switch .el-switch__label {
  color: #999;
}
.ui-el-switch .el-switch__label.is-active {
  color: #39B1C9;
}

.ui-mul-select .el-tag {
  display: flex;
  align-items: center;
  text-align: center;
  padding-left: 5px;
  padding-right: 8px;
}
.ui-mul-select .el-tag .el-select__tags-text {
  font-size: 7px;
  display: inline-block;
  max-width: 75px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.ui-mul-select .el-tag .el-tag__close {
  margin-left: -4px;
}

.el-select-dropdown .el-select-dropdown__item {
  padding-right: 50px;
}

.el-button--primary {
  color: #fff;
  background-color: #10d089;
  border-color: #10d089;
}

.el-button--primary:hover {
  background-color: #79ddb8;
  border-color: #79ddb8;
}

.el-button--primary:focus {
  background-color: #79ddb8;
  border-color: #79ddb8;
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ellipsis-1 {
  word-break: break-all;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.ellipsis-2 {
  word-break: break-all;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.ellipsis-3 {
  word-break: break-all;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.ellipsis-4 {
  word-break: break-all;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}

.ellipsis-5 {
  word-break: break-all;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
}

.ellipsis-8 {
  word-break: break-all;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 8;
  overflow: hidden;
}

.border-b {
  border-bottom: 1px solid #E8EBF1;
}

.border-b-f5 {
  border-bottom: 1px solid #F5F5F5;
}

.border-t-f5 {
  border-top: 1px solid #F5F5F5;
}

.border-r-f5 {
  border-right: 1px solid #F5F5F5;
}

.border-l-f5 {
  border-left: 1px solid #F5F5F5;
}

.border-r-b5 {
  border-right: 1px solid #B5B5B5;
}

.border-b97 {
  border-bottom: 1px solid rgba(151, 151, 151, 0.1);
}

.border-r {
  border-right: 1px solid #E8EBF1;
}

.border-l {
  border-left: 1px solid #E8EBF1;
}

.nt-border {
  border-top: none !important;
}

.nb-border {
  border-bottom: none !important;
}

.nl-border {
  border-left: none !important;
}

.nr-border {
  border-right: none !important;
}

.h100p, .full {
  height: 100%;
}

.h95p {
  height: 95%;
}

.h5p {
  height: 5%;
}

.w100p, .full {
  width: 100%;
}

.w50p {
  width: 50%;
}

.l0 {
  left: 0;
}

.t0 {
  top: 0;
}

.full {
  left: 0;
  top: 0;
}

.block {
  display: block;
}

.none {
  display: none;
}

.in-block {
  display: inline-block;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.text-decoration-none {
  text-decoration: none;
}

.text-decoration-line-through {
  text-decoration: line-through;
}

.text-align-center {
  text-align: center;
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

.text-decoration {
  text-decoration: line-through;
}

.overflow-y-scroll {
  overflow-y: scroll;
}

.overflow-y-auto {
  overflow-y: auto;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-y-auto {
  overflow-y: auto;
}

.cursor-pointer {
  cursor: pointer;
}

.no-cursor-pointer {
  cursor: text;
}

.vertical-align-m {
  vertical-align: middle;
}

.font-warp {
  word-wrap: break-word;
  word-break: break-all;
}

.font-weight-normal {
  font-weight: normal;
}

.font-weight-bold {
  font-weight: bold;
}

.font-weight-900 {
  font-weight: 900;
}

.font-weight-800 {
  font-weight: 800;
}

.font-weight-700 {
  font-weight: 700;
}

.font-weight-600 {
  font-weight: 600;
}

.font-weight-500 {
  font-weight: 500;
}

.font-weight-400 {
  font-weight: 400;
}

.font-weight-300 {
  font-weight: 300;
}

.link {
  color: #39B1C9;
}

.link-hover:hover {
  color: #39B1C9 !important;
}

.link-hover-bold:hover {
  color: #39B1C9 !important;
  font-weight: 700;
}

.m-auto {
  margin: 0 auto;
}

.ml5 {
  margin-left: 5px;
}

.mr5 {
  margin-right: 5px;
}

.mt5 {
  margin-top: 5px;
}

.mb5 {
  margin-bottom: 5px;
}

.m5 {
  margin: 5px;
}

.mx5 {
  margin-left: 5px;
  margin-right: 5px;
}

.my5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.pl5 {
  padding-left: 5px;
}

.pr5 {
  padding-right: 5px;
}

.pt5 {
  padding-top: 5px;
}

.pb5 {
  padding-bottom: 5px;
}

.p5 {
  padding: 5px;
}

.px5 {
  padding-left: 5px;
  padding-right: 5px;
}

.py5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.ml8 {
  margin-left: 8px;
}

.mr8 {
  margin-right: 8px;
}

.mt8 {
  margin-top: 8px;
}

.mb8 {
  margin-bottom: 8px;
}

.m8 {
  margin: 8px;
}

.mx8 {
  margin-left: 8px;
  margin-right: 8px;
}

.my8 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.pl8 {
  padding-left: 8px;
}

.pr8 {
  padding-right: 8px;
}

.pt8 {
  padding-top: 8px;
}

.pb8 {
  padding-bottom: 8px;
}

.p8 {
  padding: 8px;
}

.px8 {
  padding-left: 8px;
  padding-right: 8px;
}

.py8 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.ml10 {
  margin-left: 10px;
}

.mr10 {
  margin-right: 10px;
}

.mt10 {
  margin-top: 10px;
}

.mb10 {
  margin-bottom: 10px;
}

.m10 {
  margin: 10px;
}

.mx10 {
  margin-left: 10px;
  margin-right: 10px;
}

.my10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.pl10 {
  padding-left: 10px;
}

.pr10 {
  padding-right: 10px;
}

.pt10 {
  padding-top: 10px;
}

.pb10 {
  padding-bottom: 10px;
}

.p10 {
  padding: 10px;
}

.px10 {
  padding-left: 10px;
  padding-right: 10px;
}

.py10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.ml12 {
  margin-left: 12px;
}

.mr12 {
  margin-right: 12px;
}

.mt12 {
  margin-top: 12px;
}

.mb12 {
  margin-bottom: 12px;
}

.m12 {
  margin: 12px;
}

.mx12 {
  margin-left: 12px;
  margin-right: 12px;
}

.my12 {
  margin-top: 12px;
  margin-bottom: 12px;
}

.pl12 {
  padding-left: 12px;
}

.pr12 {
  padding-right: 12px;
}

.pt12 {
  padding-top: 12px;
}

.pb12 {
  padding-bottom: 12px;
}

.p12 {
  padding: 12px;
}

.px12 {
  padding-left: 12px;
  padding-right: 12px;
}

.py12 {
  padding-top: 12px;
  padding-bottom: 12px;
}

.ml15 {
  margin-left: 15px;
}

.mr15 {
  margin-right: 15px;
}

.mt15 {
  margin-top: 15px;
}

.mb15 {
  margin-bottom: 15px;
}

.m15 {
  margin: 15px;
}

.mx15 {
  margin-left: 15px;
  margin-right: 15px;
}

.my15 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.pl15 {
  padding-left: 15px;
}

.pr15 {
  padding-right: 15px;
}

.pt15 {
  padding-top: 15px;
}

.pb15 {
  padding-bottom: 15px;
}

.p15 {
  padding: 15px;
}

.px15 {
  padding-left: 15px;
  padding-right: 15px;
}

.py15 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.ml16 {
  margin-left: 16px;
}

.mr16 {
  margin-right: 16px;
}

.mt16 {
  margin-top: 16px;
}

.mb16 {
  margin-bottom: 16px;
}

.m16 {
  margin: 16px;
}

.mx16 {
  margin-left: 16px;
  margin-right: 16px;
}

.my16 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.pl16 {
  padding-left: 16px;
}

.pr16 {
  padding-right: 16px;
}

.pt16 {
  padding-top: 16px;
}

.pb16 {
  padding-bottom: 16px;
}

.p16 {
  padding: 16px;
}

.px16 {
  padding-left: 16px;
  padding-right: 16px;
}

.py16 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.ml20 {
  margin-left: 20px;
}

.mr20 {
  margin-right: 20px;
}

.mt20 {
  margin-top: 20px;
}

.mb20 {
  margin-bottom: 20px;
}

.m20 {
  margin: 20px;
}

.mx20 {
  margin-left: 20px;
  margin-right: 20px;
}

.my20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.pl20 {
  padding-left: 20px;
}

.pr20 {
  padding-right: 20px;
}

.pt20 {
  padding-top: 20px;
}

.pb20 {
  padding-bottom: 20px;
}

.p20 {
  padding: 20px;
}

.px20 {
  padding-left: 20px;
  padding-right: 20px;
}

.py20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.ml24 {
  margin-left: 24px;
}

.mr24 {
  margin-right: 24px;
}

.mt24 {
  margin-top: 24px;
}

.mb24 {
  margin-bottom: 24px;
}

.m24 {
  margin: 24px;
}

.mx24 {
  margin-left: 24px;
  margin-right: 24px;
}

.my24 {
  margin-top: 24px;
  margin-bottom: 24px;
}

.pl24 {
  padding-left: 24px;
}

.pr24 {
  padding-right: 24px;
}

.pt24 {
  padding-top: 24px;
}

.pb24 {
  padding-bottom: 24px;
}

.p24 {
  padding: 24px;
}

.px24 {
  padding-left: 24px;
  padding-right: 24px;
}

.py24 {
  padding-top: 24px;
  padding-bottom: 24px;
}

.ml25 {
  margin-left: 25px;
}

.mr25 {
  margin-right: 25px;
}

.mt25 {
  margin-top: 25px;
}

.mb25 {
  margin-bottom: 25px;
}

.m25 {
  margin: 25px;
}

.mx25 {
  margin-left: 25px;
  margin-right: 25px;
}

.my25 {
  margin-top: 25px;
  margin-bottom: 25px;
}

.pl25 {
  padding-left: 25px;
}

.pr25 {
  padding-right: 25px;
}

.pt25 {
  padding-top: 25px;
}

.pb25 {
  padding-bottom: 25px;
}

.p25 {
  padding: 25px;
}

.px25 {
  padding-left: 25px;
  padding-right: 25px;
}

.py25 {
  padding-top: 25px;
  padding-bottom: 25px;
}

.ml30 {
  margin-left: 30px;
}

.mr30 {
  margin-right: 30px;
}

.mt30 {
  margin-top: 30px;
}

.mb30 {
  margin-bottom: 30px;
}

.m30 {
  margin: 30px;
}

.mx30 {
  margin-left: 30px;
  margin-right: 30px;
}

.my30 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.pl30 {
  padding-left: 30px;
}

.pr30 {
  padding-right: 30px;
}

.pt30 {
  padding-top: 30px;
}

.pb30 {
  padding-bottom: 30px;
}

.p30 {
  padding: 30px;
}

.px30 {
  padding-left: 30px;
  padding-right: 30px;
}

.py30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.ml35 {
  margin-left: 35px;
}

.mr35 {
  margin-right: 35px;
}

.mt35 {
  margin-top: 35px;
}

.mb35 {
  margin-bottom: 35px;
}

.m35 {
  margin: 35px;
}

.mx35 {
  margin-left: 35px;
  margin-right: 35px;
}

.my35 {
  margin-top: 35px;
  margin-bottom: 35px;
}

.pl35 {
  padding-left: 35px;
}

.pr35 {
  padding-right: 35px;
}

.pt35 {
  padding-top: 35px;
}

.pb35 {
  padding-bottom: 35px;
}

.p35 {
  padding: 35px;
}

.px35 {
  padding-left: 35px;
  padding-right: 35px;
}

.py35 {
  padding-top: 35px;
  padding-bottom: 35px;
}

.ml40 {
  margin-left: 40px;
}

.mr40 {
  margin-right: 40px;
}

.mt40 {
  margin-top: 40px;
}

.mb40 {
  margin-bottom: 40px;
}

.m40 {
  margin: 40px;
}

.mx40 {
  margin-left: 40px;
  margin-right: 40px;
}

.my40 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.pl40 {
  padding-left: 40px;
}

.pr40 {
  padding-right: 40px;
}

.pt40 {
  padding-top: 40px;
}

.pb40 {
  padding-bottom: 40px;
}

.p40 {
  padding: 40px;
}

.px40 {
  padding-left: 40px;
  padding-right: 40px;
}

.py40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.ml45 {
  margin-left: 45px;
}

.mr45 {
  margin-right: 45px;
}

.mt45 {
  margin-top: 45px;
}

.mb45 {
  margin-bottom: 45px;
}

.m45 {
  margin: 45px;
}

.mx45 {
  margin-left: 45px;
  margin-right: 45px;
}

.my45 {
  margin-top: 45px;
  margin-bottom: 45px;
}

.pl45 {
  padding-left: 45px;
}

.pr45 {
  padding-right: 45px;
}

.pt45 {
  padding-top: 45px;
}

.pb45 {
  padding-bottom: 45px;
}

.p45 {
  padding: 45px;
}

.px45 {
  padding-left: 45px;
  padding-right: 45px;
}

.py45 {
  padding-top: 45px;
  padding-bottom: 45px;
}

.ml48 {
  margin-left: 48px;
}

.mr48 {
  margin-right: 48px;
}

.mt48 {
  margin-top: 48px;
}

.mb48 {
  margin-bottom: 48px;
}

.m48 {
  margin: 48px;
}

.mx48 {
  margin-left: 48px;
  margin-right: 48px;
}

.my48 {
  margin-top: 48px;
  margin-bottom: 48px;
}

.pl48 {
  padding-left: 48px;
}

.pr48 {
  padding-right: 48px;
}

.pt48 {
  padding-top: 48px;
}

.pb48 {
  padding-bottom: 48px;
}

.p48 {
  padding: 48px;
}

.px48 {
  padding-left: 48px;
  padding-right: 48px;
}

.py48 {
  padding-top: 48px;
  padding-bottom: 48px;
}

.ml50 {
  margin-left: 50px;
}

.mr50 {
  margin-right: 50px;
}

.mt50 {
  margin-top: 50px;
}

.mb50 {
  margin-bottom: 50px;
}

.m50 {
  margin: 50px;
}

.mx50 {
  margin-left: 50px;
  margin-right: 50px;
}

.my50 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.pl50 {
  padding-left: 50px;
}

.pr50 {
  padding-right: 50px;
}

.pt50 {
  padding-top: 50px;
}

.pb50 {
  padding-bottom: 50px;
}

.p50 {
  padding: 50px;
}

.px50 {
  padding-left: 50px;
  padding-right: 50px;
}

.py50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.ml55 {
  margin-left: 55px;
}

.mr55 {
  margin-right: 55px;
}

.mt55 {
  margin-top: 55px;
}

.mb55 {
  margin-bottom: 55px;
}

.m55 {
  margin: 55px;
}

.mx55 {
  margin-left: 55px;
  margin-right: 55px;
}

.my55 {
  margin-top: 55px;
  margin-bottom: 55px;
}

.pl55 {
  padding-left: 55px;
}

.pr55 {
  padding-right: 55px;
}

.pt55 {
  padding-top: 55px;
}

.pb55 {
  padding-bottom: 55px;
}

.p55 {
  padding: 55px;
}

.px55 {
  padding-left: 55px;
  padding-right: 55px;
}

.py55 {
  padding-top: 55px;
  padding-bottom: 55px;
}

.ml60 {
  margin-left: 60px;
}

.mr60 {
  margin-right: 60px;
}

.mt60 {
  margin-top: 60px;
}

.mb60 {
  margin-bottom: 60px;
}

.m60 {
  margin: 60px;
}

.mx60 {
  margin-left: 60px;
  margin-right: 60px;
}

.my60 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.pl60 {
  padding-left: 60px;
}

.pr60 {
  padding-right: 60px;
}

.pt60 {
  padding-top: 60px;
}

.pb60 {
  padding-bottom: 60px;
}

.p60 {
  padding: 60px;
}

.px60 {
  padding-left: 60px;
  padding-right: 60px;
}

.py60 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.ml65 {
  margin-left: 65px;
}

.mr65 {
  margin-right: 65px;
}

.mt65 {
  margin-top: 65px;
}

.mb65 {
  margin-bottom: 65px;
}

.m65 {
  margin: 65px;
}

.mx65 {
  margin-left: 65px;
  margin-right: 65px;
}

.my65 {
  margin-top: 65px;
  margin-bottom: 65px;
}

.pl65 {
  padding-left: 65px;
}

.pr65 {
  padding-right: 65px;
}

.pt65 {
  padding-top: 65px;
}

.pb65 {
  padding-bottom: 65px;
}

.p65 {
  padding: 65px;
}

.px65 {
  padding-left: 65px;
  padding-right: 65px;
}

.py65 {
  padding-top: 65px;
  padding-bottom: 65px;
}

.ml70 {
  margin-left: 70px;
}

.mr70 {
  margin-right: 70px;
}

.mt70 {
  margin-top: 70px;
}

.mb70 {
  margin-bottom: 70px;
}

.m70 {
  margin: 70px;
}

.mx70 {
  margin-left: 70px;
  margin-right: 70px;
}

.my70 {
  margin-top: 70px;
  margin-bottom: 70px;
}

.pl70 {
  padding-left: 70px;
}

.pr70 {
  padding-right: 70px;
}

.pt70 {
  padding-top: 70px;
}

.pb70 {
  padding-bottom: 70px;
}

.p70 {
  padding: 70px;
}

.px70 {
  padding-left: 70px;
  padding-right: 70px;
}

.py70 {
  padding-top: 70px;
  padding-bottom: 70px;
}

.ml75 {
  margin-left: 75px;
}

.mr75 {
  margin-right: 75px;
}

.mt75 {
  margin-top: 75px;
}

.mb75 {
  margin-bottom: 75px;
}

.m75 {
  margin: 75px;
}

.mx75 {
  margin-left: 75px;
  margin-right: 75px;
}

.my75 {
  margin-top: 75px;
  margin-bottom: 75px;
}

.pl75 {
  padding-left: 75px;
}

.pr75 {
  padding-right: 75px;
}

.pt75 {
  padding-top: 75px;
}

.pb75 {
  padding-bottom: 75px;
}

.p75 {
  padding: 75px;
}

.px75 {
  padding-left: 75px;
  padding-right: 75px;
}

.py75 {
  padding-top: 75px;
  padding-bottom: 75px;
}

.ml80 {
  margin-left: 80px;
}

.mr80 {
  margin-right: 80px;
}

.mt80 {
  margin-top: 80px;
}

.mb80 {
  margin-bottom: 80px;
}

.m80 {
  margin: 80px;
}

.mx80 {
  margin-left: 80px;
  margin-right: 80px;
}

.my80 {
  margin-top: 80px;
  margin-bottom: 80px;
}

.pl80 {
  padding-left: 80px;
}

.pr80 {
  padding-right: 80px;
}

.pt80 {
  padding-top: 80px;
}

.pb80 {
  padding-bottom: 80px;
}

.p80 {
  padding: 80px;
}

.px80 {
  padding-left: 80px;
  padding-right: 80px;
}

.py80 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.ml85 {
  margin-left: 85px;
}

.mr85 {
  margin-right: 85px;
}

.mt85 {
  margin-top: 85px;
}

.mb85 {
  margin-bottom: 85px;
}

.m85 {
  margin: 85px;
}

.mx85 {
  margin-left: 85px;
  margin-right: 85px;
}

.my85 {
  margin-top: 85px;
  margin-bottom: 85px;
}

.pl85 {
  padding-left: 85px;
}

.pr85 {
  padding-right: 85px;
}

.pt85 {
  padding-top: 85px;
}

.pb85 {
  padding-bottom: 85px;
}

.p85 {
  padding: 85px;
}

.px85 {
  padding-left: 85px;
  padding-right: 85px;
}

.py85 {
  padding-top: 85px;
  padding-bottom: 85px;
}

.ml90 {
  margin-left: 90px;
}

.mr90 {
  margin-right: 90px;
}

.mt90 {
  margin-top: 90px;
}

.mb90 {
  margin-bottom: 90px;
}

.m90 {
  margin: 90px;
}

.mx90 {
  margin-left: 90px;
  margin-right: 90px;
}

.my90 {
  margin-top: 90px;
  margin-bottom: 90px;
}

.pl90 {
  padding-left: 90px;
}

.pr90 {
  padding-right: 90px;
}

.pt90 {
  padding-top: 90px;
}

.pb90 {
  padding-bottom: 90px;
}

.p90 {
  padding: 90px;
}

.px90 {
  padding-left: 90px;
  padding-right: 90px;
}

.py90 {
  padding-top: 90px;
  padding-bottom: 90px;
}

.ml95 {
  margin-left: 95px;
}

.mr95 {
  margin-right: 95px;
}

.mt95 {
  margin-top: 95px;
}

.mb95 {
  margin-bottom: 95px;
}

.m95 {
  margin: 95px;
}

.mx95 {
  margin-left: 95px;
  margin-right: 95px;
}

.my95 {
  margin-top: 95px;
  margin-bottom: 95px;
}

.pl95 {
  padding-left: 95px;
}

.pr95 {
  padding-right: 95px;
}

.pt95 {
  padding-top: 95px;
}

.pb95 {
  padding-bottom: 95px;
}

.p95 {
  padding: 95px;
}

.px95 {
  padding-left: 95px;
  padding-right: 95px;
}

.py95 {
  padding-top: 95px;
  padding-bottom: 95px;
}

.ml100 {
  margin-left: 100px;
}

.mr100 {
  margin-right: 100px;
}

.mt100 {
  margin-top: 100px;
}

.mb100 {
  margin-bottom: 100px;
}

.m100 {
  margin: 100px;
}

.mx100 {
  margin-left: 100px;
  margin-right: 100px;
}

.my100 {
  margin-top: 100px;
  margin-bottom: 100px;
}

.pl100 {
  padding-left: 100px;
}

.pr100 {
  padding-right: 100px;
}

.pt100 {
  padding-top: 100px;
}

.pb100 {
  padding-bottom: 100px;
}

.p100 {
  padding: 100px;
}

.px100 {
  padding-left: 100px;
  padding-right: 100px;
}

.py100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.cp {
  color: #39B1C9;
}

.bg-f {
  background-color: #fff;
}

.bg-f5 {
  background-color: #f5f5f5;
}

.bg-fb {
  background-color: #fbfbfb;
}

.c-empty {
  color: #FFC6B7;
}

.cm {
  color: #FF7752;
}

.cfff {
  color: #fff;
}

.cff5 {
  color: rgba(255, 255, 255, 0.5);
}

.cff6 {
  color: rgba(255, 255, 255, 0.6);
}

.cff7 {
  color: rgba(255, 255, 255, 0.7);
}

.c606266 {
  color: #606266;
}

.c6DBAE2 {
  color: #6DBAE2;
}

.c39B1C9 {
  color: #39B1C9;
}

.c1AC4D1 {
  color: #1AC4D1;
}

.cFF6C47 {
  color: #FF6C47;
}

.cF56C6C {
  color: #F56C6C;
}

.cFF4D00 {
  color: #FF4D00;
}

.cFF7752 {
  color: #FF7752;
}

.cFB5858 {
  color: #FB5858;
}

.cFF4141 {
  color: #FF4141;
}

.c4FD1BB {
  color: #4FD1BB;
}

.c68 {
  color: #686868;
}

.c8c {
  color: #8C8C8C;
}

.ccc {
  color: #ccc;
}

.c999 {
  color: #999;
}

.c666 {
  color: #666;
}

.c6c6c6c {
  color: #6c6c6c;
}

.c333 {
  color: #333;
}

.c222 {
  color: #222;
}

.c000 {
  color: #000;
}

.cbbb {
  color: #bbb;
}

.f6a {
  color: #ff6a6a;
}

.c39B1C9 {
  color: #39B1C9;
}

.fs32 {
  font-size: 32px;
}

.fs22 {
  font-size: 22px;
}

.fs20 {
  font-size: 20px;
}

.fs19 {
  font-size: 19px;
}

.fs18 {
  font-size: 18px;
}

.fs17 {
  font-size: 17px;
}

.fs16 {
  font-size: 16px;
}

.fs15 {
  font-size: 15px;
}

.fs14 {
  font-size: 14px;
}

.fs13 {
  font-size: 13px;
}

.fs12 {
  font-size: 12px;
}

.fs11 {
  font-size: 11px;
}

.fs10 {
  font-size: 10px;
}

.fs22 {
  font-size: 22px;
}

.fs24 {
  font-size: 24px;
}

.fs26 {
  font-size: 26px;
}

.fs28 {
  font-size: 28px;
}

.fs30 {
  font-size: 30px;
}

.fs34 {
  font-size: 34px;
}

.fs36 {
  font-size: 36px;
}

.z1 {
  z-index: 1;
}

.z2 {
  z-index: 2;
}

.z3 {
  z-index: 3;
}

.z4 {
  z-index: 4;
}

.br4 {
  border-radius: 4px;
}

.br5 {
  border-radius: 5px;
}

.br50 {
  border-radius: 50%;
}

.opacity0 {
  opacity: 0;
}

.opacity6 {
  opacity: 0.6;
}

.opacity7 {
  opacity: 0.7;
}

.clearfix::after {
  display: block;
  clear: both;
  content: "";
}

.lh100p {
  line-height: 100%;
}

.ff-ping {
  font-family: PingFangSC-Regular, PingFang SC;
}

.ff-cd {
  font-family: CDSHT-Regular, CDSHT;
}

/*# sourceMappingURL=common.css.map */
