.ui-card-block{
  padding: 25px;
  background: #ffffff;
  border-radius: 19px;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.05);
}

.ui-card-block-2{
  padding: 24px;
  background: #ffffff;
  border-radius: 0 0 19px 19px;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.05);
}

.ui-form-control-300{
  max-width: 300px;
}

.ui-el-dialog{
  .el-dialog{
    border-radius: 16px;
  }
  .el-dialog__header{
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: #303133;
  }
  .el-dialog__headerbtn{
    font-size: 20px;
    color: #999;
  }
  .el-dialog__body{
    padding-top: 15px;
  }
}

.ui-el-button-def.el-button{
  color: #39B1C9;
  border: 1px solid #39B1C9;
  font-size: 14px;
  > span {
    font-family: PingFangSC-Medium, PingFang SC;
  }
  &:hover{
    color: #fff!important;
    border: 1px solid #39B1C9;
    background-color: #39B1C9!important;
  }
}

.ui-el-button-pri.el-button{
  font-weight: 600;
  > span {
    font-family: PingFangSC-Semibold, PingFang SC;
  }
}

.ui-el-form{
  .el-form-item__label{
    padding-right: 20px;
    color: #000;
    //font-weight: 600;
    font-size: 15px;
  }
  .isEdit{
    .el-form-item__label{
      font-weight: 400 !important;
      color: #CCCCCC !important;
    }
  }
}

.ui-el-table{
  border: none!important;
  &::before{
    content: '';
    display: none;
  }
  &::after{
    content: '';
    display: none;
  }
  .el-table__header-wrapper{
    th{
      height: 36px;
      padding: 8px 0!important;
      background-color: #EDEDF3!important;
      color: #9DA6BA;
      font-size: 14px;
      font-weight: 600;
      &:first-child{
        // border-radius: 6px 0 0 6px;
      }
      &:last-child{
        // background-color: transparent!important;
      }
      &:nth-last-child(1){
        // border-radius: 0 6px 6px 0;
      }
    }
  }
  .el-table__body-wrapper{
    overflow-y: auto;
    tr{
      &:hover{
        background-color: #FAFAFD;
      }
    }
  }
}

.ui-el-menu{
  &.el-menu.el-menu--horizontal{
    border-bottom: none;
  }
  &.el-menu--horizontal > .el-menu-item{
    font-size: 16px;
    color: #666666;
    font-weight: 600;
    &:hover{
      color: #39B1C9!important;
    }
    &:focus{
      color: #39B1C9!important;
    }
    &.is-active{
      border-bottom: transparent;
      color: #39B1C9;
      &::before{
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        display: block;
        width: 20px;
        height: 4px;
        background: #49B7CD;
        border-radius: 4px;
      }
    }
  }
}

.ui-el-tree {
  .el-tree-node__expand-icon {
    color: #39B1C9;
    font-size: 20px;
  }
  .el-tree-node__content {
    height: 35px;
    line-height: 35px;
  }
  .el-tree-node__label {
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #333333;
    line-height: 20px;
  }
}

.ui-scrollbar {
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: #c8c8c8;
    cursor: pointer
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #bebebe
  }

  &::-webkit-scrollbar-thumb:active {
    background: #b0b0b0
  }

  &::-webkit-scrollbar-track {
    box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    background   : #f3f3f3;
  }
}
.ui-breadcrumb{
  display:flex;
  align-items:center;
  :last-child{
    :first-child{
      font-size: 18px!important;
      font-family: PingFangSC-Semibold, PingFang SC!important;
      font-weight: 600!important;
      color: #333333!important;
    }
  }

  &.el-breadcrumb{
    .el-breadcrumb__item{
      .el-breadcrumb__inner{
        font-size: 14px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #999999;
      }
    }
  }

}


.ui-breadcrumb-have-father{
  &::before{
    height: 13px;
    width: 7px;
    background-size: 100%;
    margin-right: 10px;
  }
}


.ui-el-popover{
  .emoji{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
  }
  .emoji:hover{
    background-color: #f0f0f0;
  }
  ::v-deep .el-popover {
      display: inline-block;
      width: 35px;
      height: 18px;
      padding: 10px;
      font-size: 30px;
    .el-popover:hover {
      background-color: #f0f0f0;
    }
  }
}

.scroll-wrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  padding: 0 15px;
}

.ui-el-date-editor {
  &.el-date-editor{
    .el-range-separator{
      width: 8%;
  }
}

}
.ui-label{
  .el-form-item__label{
    line-height: 14px;
  }
}
.ui-el-switch{
  .el-switch__label{
    color: #999;
  }
  .el-switch__label.is-active{
    color: #39B1C9;
  }
}
.ui-mul-select{
  .el-tag{
    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 5px;
    padding-right: 8px;
    .el-select__tags-text{
      font-size: 7px;
      display: inline-block;
      max-width: 75px;
      overflow:hidden;
      white-space:nowrap;
      text-overflow:ellipsis;
    }
    .el-tag__close{
      margin-left: -4px;
    }
  }
}

//多选下拉字数过多时 右侧打勾会与文字重叠
.el-select-dropdown {
  .el-select-dropdown__item{
    padding-right:50px;
  }
}

.el-button--primary{
  color: #fff;
  background-color: #10d089; ;
  border-color: #10d089;
}
.el-button--primary:hover{
  background-color: #79ddb8;
  border-color: #79ddb8;
}
.el-button--primary:focus{
  background-color: #79ddb8;
  border-color: #79ddb8;
}

